img.home-page-img {
    max-width: 80%;
    display: block;
    margin: auto
}

h3.term-name {
    padding-top: 30px;
}

h2.term-category-header {
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 5px;
}